* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.navbar {
  width: 85%;
  height: 100px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: auto;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.container {
  width: 100%;
  height: 80vh;
  background: #0c216e;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}
form input,
form select,
form textarea {
  border: 1px solid rgb(194, 132, 132);
  margin: 10px 0;
  padding: 10px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 6px;
}
form button {
  padding: 15px;
  background: #ff5361;
  color: #fff;
  font-size: 18px;
  border: 1px solid rgb(194, 132, 132);
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
footer {
  background-color: #fff;
  color: #333;
  text-align: center;
  padding: 1em;
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
