* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
  
.banner {
  width: 100%;
  height: wrap;
  background-color: linear-gradient(white, red);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  height: fit-content;
  margin: auto;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 100px;
  width: fit-content;
  cursor: pointer;
  padding: 5px;
}
.navbar ul li {
  list-style: none;
  background: rgb(226, 63, 126);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  justify-content: space-between;
  box-shadow: 0 5px 5px rgba(158, 49, 109, 0.400);
}
.navbar ul li.active{
  list-style: none;
  background: rgb(80, 182, 185);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li.active::after{
  content: "";
  height: 3px;
  width: 100%;
  background-color: rgb(80, 182, 185);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover {
  background: rgb(80, 182, 185);
  transition: 300ms ease-in-out;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.navbar ul li a:hover{
  color: white;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: rgb(80, 182, 185);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content {
  align-items: center;
  width: 100%;
  text-align: center;
  color: rgb(38, 65, 124);
}
.content h1 {
  font-size: 35px;
  margin-top: 30px;
  line-height: 15px;
  color: rgb(12, 69, 71);
  text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
}
.content h1 b{
  color: rgb(212, 35, 94);
  font-family: 'Courier New', Courier, monospace;
}
.content p {
  margin: 20px auto;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
  color: rgb(80, 182, 185);

}
.btn-style button {
  width: fit-content;
  padding: 10px 20px;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid  rgb(226, 63, 126);
  background: transparent;
  color: rgb(226, 63, 126);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.btn-style span {
  background: rgb(80, 182, 185);
  height: 100%;
  width: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn-style button:hover span {
  width: 100%;
}
.btn-style button:hover {
  border: none;
  color: rgb(240, 237, 238);
}
.btn-style button a {
  color: rgb(226, 63, 126);
  text-decoration: none;
}
.btn-style button a:hover{
  color: #fff;
}
.sidebar {
  width: 35%;
  background-color: rgb(250,250,250);
  padding: 20px;
  position: fixed;
  left: 10px;
  top: 25%;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(158, 49, 109, 0.400);
}
.contact-info {
  width: 50%;
  background-color: rgb(250, 250, 250);
  padding: 20px;
  position: fixed;
  left: 10px;
  bottom: 20%;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(158, 49, 109, 0.400);
  
}
.video-container {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 300px;
  margin-top: 10px;
  display:list-item;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(158, 49, 109, 0.400);
}
.video-container h2{
  color: rgb(12, 69, 71);
  text-align: center;
  font-size: 20px;
  margin-top: 10px 10px;
  text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
}
.video-container p{
  color: rgb(80, 182, 185);
  text-align: center;
  font-size: 16px;
  margin-top: 10px 10px;
  text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
}
.video-container video {
  width: 100%;
  height: 90%;
  margin: 10px 0px;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}
footer {
  background-color: rgb(226, 63, 126);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 600px) {
  /* Styles for mobile devices */
  body {
    width: 100%;
    height:auto !important;
    background-color: linear-gradient(white, red);
    background-size: cover;
    background-position: center;
  }
  .navbar {
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 20px 10px 20px 0px;
  }
  .logo {
    height: 60px;
    width: fit-content;
    cursor: pointer;
    padding: 5px;
  }
  .navbar ul li {
    display:inline-block;
    background: rgb(226, 63, 126);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 7px 10px;
    box-shadow: 0 5px 5px rgba(158, 49, 109, 0.400);
  }
  .navbar ul li.active{
    background: rgb(80, 182, 185);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 7px 10px;
    position: relative;
  }
  .navbar ul li.active::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgb(80, 182, 185);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover {
    background: rgb(96, 194, 197);
    transition: 300ms ease-in-out;
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  .navbar ul li a:hover{
    color: white;
  }
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: rgb(80, 182, 185);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover::after {
    width: 100%;
  }
  .content h1 {
    font-size: 18px;
    margin-top: 10px;
    line-height: 10px;
    color: rgb(12, 69, 71);
    text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
  }
  .content h1 b{
    color: rgb(212, 35, 94);
    font-family: 'Courier New', Courier, monospace;
  }
  .content p {
    margin: 20px auto;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: rgb(80, 182, 185);
  
  }
  .btn-style {
    display: list-item;
    padding: 10px 20px;
    margin: 10px 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .btn-style button {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
  }
  .btn-style span {
    background: rgb(80, 182, 185);
    height: 100%;
    width: 0;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  .btn-style button:hover span {
    width: 100%;
  }
  .btn-style button:hover {
    border: none;
    color: rgb(248, 246, 247);
  }
  .btn-style button a {
    text-decoration: none;
  }
  .btn-style button a:hover{
    color: #fff;
  }
  .video-container {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 250px;
    margin-top: 10px;
    display:list-item;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(158, 49, 109, 0.400);
  }
  .video-container h2{
    color: rgb(12, 69, 71);
    text-align: center;
    font-size: 18px;
    margin-top: 10px 10px;
    text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
  }
  .video-container p{
    color: rgb(80, 182, 185);
    text-align: center;
    font-size: 14px;
    margin-top: 10px 10px;
    text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
  }
  .video-container video {
    width: 100%;
    height: 90%;
    margin: 10px 0px;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for tablets */
  body {
    width: 100%;
    height:auto !important;
    background-color: linear-gradient(white, red);
    background-size: cover;
    background-position: center;
  }
  .navbar {
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 20px 10px 20px 0px;
  }
  .logo {
    height: 70px;
    width: fit-content;
    cursor: pointer;
    padding: 5px;
  }
  .navbar ul li {
    background: rgb(226, 63, 126);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 7px 10px;
    box-shadow: 0 5px 5px rgba(158, 49, 109, 0.400);
  }
  .navbar ul li.active{
    background: rgb(80, 182, 185);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 7px 10px;
    position: relative;
  }
  .navbar ul li.active::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgb(80, 182, 185);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover {
    background: rgb(96, 194, 197);
    transition: 300ms ease-in-out;
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
  .navbar ul li a:hover{
    color: white;
  }
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: rgb(80, 182, 185);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover::after {
    width: 100%;
  }
  .content h1 {
    font-size: 22px;
    margin-top: 20px;
    line-height: 10px;
    color: rgb(12, 69, 71);
    text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
  }
  .content h1 b{
    color: rgb(212, 35, 94);
    font-family: 'Courier New', Courier, monospace;
  }
  .content p {
    margin: 20px auto;
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    color: rgb(80, 182, 185);
  
  }
  .video-container {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 300px;
    margin-top: 10px;
    display:list-item;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(158, 49, 109, 0.400);
  }
  .video-container h2{
    color: rgb(12, 69, 71);
    text-align: center;
    font-size: 20px;
    margin-top: 10px 10px;
    text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
  }
  .video-container p{
    color: rgb(80, 182, 185);
    text-align: center;
    font-size: 16px;
    margin-top: 10px 10px;
    text-shadow: 0 5px 5px rgba(158, 49, 109, 0.200);
  }
  .video-container video {
    width: 100%;
    height: 90%;
    margin: 10px 0px;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
  }
}
